# Dependencias JS
node_modules/
yarn.lock

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Carpetas nativas (Prebuild / EAS)
android/
!android/app/google-services.json

ios/

# Cachés de Android/iOS
android/.gradle/
android/app/build/
ios/build/
ios/Pods/
ios/Podfile.lock

# Claves y binarios sensibles
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS y otros temporales
.DS_Store
*.pem

# Variables de entorno
.env
*.env
.env.*.local

# TypeScript
*.tsbuildinfo

# Service accounts (Backend)
scripts/serviceAccountKey.json

proyecto.json

# Firebase
google-services.json.base64
GoogleService-Info.plist

# Ignorar la carpeta de scripts (opcional, si no querés subir ningún script)
scripts/

# Ignorar la key de Firebase en cualquier parte del proyecto
serviceAccountKey.json
